:root {
  --background-color: rgb(255, 255, 255);
  --color-light: #606266;
  --color-defalut: #000000;
  --color-hover: hotpink;
  --color-tooltip: #fff;
  --color-tooltip-bg: #555;
  --font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --header-height: 4rem;
  --sidebar-width: 16rem;
  --sidebar-width-collapse: 4rem;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
}